#!/bin/bash
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ out_dir }}/{{ job_name }}_%j.out
#SBATCH --error={{ err_dir }}/{{ job_name }}_%j.err
#SBATCH --partition={{ partition }}
#SBATCH --time={{ walltime }}
#SBATCH --mem={{ memory }}
#SBATCH --cpus-per-task={{ cpus }}
#SBATCH --ntasks={{ ntasks }}

env
date

# Change to working directory
cd {{ working_dir }}

# Run the batch processing script

{{ environment_script }} python3 {{ processing_script }} +input_paths='[{{ input_paths }}]' +output_paths='[{{ output_paths }}']
